body {
	background: #e8f4f8;
	font-family: 'Arial';
}
main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: .75rem;
	margin-bottom: 1rem;
}

#right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#debug {
	background: white;
	border-radius: .5rem;
	padding: .33rem;
	border: 2px solid teal;
	margin-top: .75rem;
}
.defer {
	display: none;
}
/*canvas {
	border: 1px solid black;
}*/
#gb-canvas {
	border: 2px solid #a0c5d1;
	width: 160px;
	height: 144px;
}
#noJS {
	color: darkred;
	font-size: 1.33rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: lightpink;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
*.button {
	display: inline-block;
	background: lightblue;
	border: 2px solid #a0c5d1; /*rgba(0,0,0,.1)*/
	padding: .33rem .5rem;
	border-radius: 99999rem;
	transition: transform 50ms ease, opacity 100ms linear;
}
*.button.full {
	display: block;
	width: 100% !important;
}
*.button:not(.disabled):active {
	transform: scale(0.9);
}
*.button.disabled {
	opacity: .5;
}
#gb-wrapper{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: .2rem;
}
.lpart {
	color: darkblue;
	font-weight: bold;
}
.lpart.red {
	color: darkred;
}
.lpart.yellow {
	color: darkorange;
}
#cdebug-wrapper {
	width: 223px;
	height: 172px;
	overflow: hidden;
	resize: both;
	border: 1px solid rgba(0, 0, 0, .5);
}
#cdebug-toggle:not(:checked)~#cdebug-wrapper {
	display: none;
}

#drop-wrapper {
	position: relative;
	transition: all .1s linear;
	--drop-bg: teal;
	--default-bg: white;
	background: var(--default-bg);
	display: block;
	padding: 1rem;
	border: 2px dotted teal;
	border-radius: 1rem;
}
#drop-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all .05s linear;
	opacity: 1;
}
#drop-form > p {
	margin: 0;
	margin-bottom: .5rem;
	padding: 0;
}
#drop-hint {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	fill: white;
	/*color: white;
	font-weight: bold;*/
}
/*#cdebug {
	width: 100%;
	height: 100%;
}*/