body {
	background: #e8f4f8;
	font-family: 'Arial';
}
.defer {
	display: none;
}
#gb-canvas {
	border: 2px solid #a0c5d1;
	width: 160px;
	height: 144px;
}
#noJS {
	color: darkred;
	font-size: 1.33rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: lightpink;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
button.button {
	display: inline-block;
	background: lightblue;
	border: 2px solid #a0c5d1; /*rgba(0,0,0,.1)*/
	padding: .33rem .5rem;
	border-radius: 99999rem;
	transition: transform 50ms ease, opacity 100ms linear;
}
button.button.full {
	display: block;
	width: 100% !important;
}
button.button:not(.disabled):active {
	transform: scale(0.9);
}
button.button.disabled {
	opacity: .5;
}
#gb-wrapper{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: .2rem;
}
.lpart {
	color: darkblue;
	font-weight: bold;
}
.lpart.red {
	color: darkred;
}
.lpart.yellow {
	color: darkorange;
}
